<div class="jigCacoin about">
  <!--button dojoType="dijit.form.Button"
             dojoAttachEvent="onClick:destroy">Fermer</button-->
  <div dojoType="dijit.layout.AccordionContainer"
       style="position:absolute;top:0;left:0;bottom:0;right:0;" dojoAttachPoint="acc">
    <div dojoType="dijit.layout.ContentPane"
         title="À propos de cette application...">
      <h1><span>Histoire</span> & Géographie</h1>
      <p>
        Projet IGN - Démo d'application participant au concours Géoportail 2010
      </p>
      <p style="text-align: right; padding-right: 30px; ">
        par <i>Jean-François Gigand</i><br/><br/>
      </p>
      <p style="text-align: center;">
        <button dojoType="jig.button.Action"
                dojoAttachEvent="onClick:startPresentation"
                value="histoire.presentation.application">
          Lancer la présentation générale
        </button>
      </p>
      <p style="text-align: center;">
        <button dojoType="jig.button.Action"
                dojoAttachEvent="onClick:sendFeedback">
          Envoyer un retour d'expérience
        </button>
      </p>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Comment démarrer ?">
      <p>
        Pour aider l'utilisateur à se familiariser avec l'application,
        plusieurs présentations ont été montées, qui lui font découvrir pas
        à pas une période de l'Histoire ou les fonctionnalités présentes.
      </p>
      <p>
        Cliquer sur les boutons ci-dessous pour lancer la présentation respective.
      </p>
      <p style="text-align: center;">
        <button dojoType="jig.button.Action"
                dojoAttachEvent="onClick:startPresentation"
                value="histoire.presentation.application">
          Présentation générale
        </button>
      </p>
      <p style="text-align: center;">
        <button dojoType="jig.button.Action"
                dojoAttachEvent="onClick:startPresentation"
                value="histoire.presentation.revolutionFrancaise">
          Présentation de la Révolution française
        </button>
      </p>
      <p style="text-align: center;">
        <button dojoType="jig.button.Action"
                dojoAttachEvent="onClick:startPresentation"
                value="ploomap.presentation.sexyZoomBar">
          Présentation de la barre de zoom
        </button>
      </p>
      <p style="text-align: center;">
        <button dojoType="jig.button.Action"
                dojoAttachEvent="onClick:startPresentation"
                value="ploomap.presentation.magnifier">
          Présentation de l'outil loupe
        </button>
      </p>
      <p>
        Mais cela va plus loin encore !<br/>
        Un <b>éditeur de présentation</b> permet de monter soi-même sa présentation.
      </p>
      <p style="text-align: center;">
        <button dojoType="jig.button.Action"
                dojoAttachEvent="onClick:startPresentation"
                value="ploomap.presentation.macroEditor">
          Présentation de l'éditeur de présentation
        </button>
      </p>
      <p style="text-align: center;">
        <button dojoType="jig.button.Action"
                dojoAttachEvent="onClick:createPresentation">
          Créer une présentation
        </button>
      </p>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="L'Histoire de France et sa Géographie">
      <h2>La carte de la Révolution...</h2>
      <p>
        Pour cette démonstration, nous avons choisi de vous emmener au cœur des événements
        historiques de ces deux grandes périodes de l'histoire de France, que sont la Révolution
        et la Seconde Guerre mondiale.
      </p>
      <p>
        Les évènements majeurs sont ainsi présentés sur la carte.
      </p>
      <p style="text-align: center;">
        <button dojoType="jig.button.Action"
                dojoAttachEvent="onClick:startPresentation"
                value="histoire.presentation.revolutionFrancaise">
          Présentation de la Révolution française
        </button><br/><br/>
      </p>
      <h2>... et la révolution de la carte !</h2>
      <p>
        Cette application donne la possibilité de visualiser tous faits historiques
        sur <b>l'échelle du temps</b>. On peut restreindre la période affichée,
        ou animer le temps.
      </p>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Perspective d'évolution du service">
      <p>
        Vous l'aurez compris, cette application propose de réunir l'histoire et la géographie au
        cœur d'une interface interactive et dynamique.
      </p>
      <p>
        Nous avons choisi de mettre en exergue la Révolution française et le Seconde Guerre
        mondiale, ces deux périodes historiques sont en effet particulièrement populaires auprès
        d'un large public. Il est bien entendu envisageable d'étendre cette mise en lumière à
        bien d'autres événements de l'histoire, la plupart d'entre étant en effet parfaitement
        géolocalisables.
      </p>
      <p>
        En combinant le temps et l'espace, voir le déroulement de la Seconde Guerre mondiale,
        des Croisades, de la Guerre de Cent ans, ou même de la Guerre des Gaules, est une
        manière privilégiée d'approcher l'Histoire de France.
      </p>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Pour quel public ?">
      <p>
        Dans la perspective d'un déploiement, il est tout à fait imaginable de suggérer aux
        enseignants d'utiliser cette application, nul doute qu'ils seront séduits par son aspect
        hautement pédagogique et attrayant.
      </p>
      <p>
        Son interactivité offre de nombreuses possibilités et donne à l'application une parfaite
        légitimité pour tenir une place importante dans les musées, les monuments et autres
        lieux de commémoration. Les archives détenues par ces lieux de l'Histoire pourraient être
        projetées sur écran géant et les visiteurs auraient tout loisir de «&nbsp;naviguer&nbsp;» dans les lieux
        symboliques des périodes concernées.
      </p>
      <p>
        Les offices de tourisme, qui désireraient vanter l'attrait historique de leur région pourraient
        également être équipés de cet outil. Quel plaisir pour le touriste de planifier son parcours
        des châteaux de la Loire en suivant l'ordre chronologique des événements qui s'y sont déroulés.
      </p>
      </p>
    </div>
    <!--div dojoType="dijit.layout.ContentPane" title="Utilité du service">
      <p>
        La Révolution française n'est qu'un exemple. La plupart des
        évènements de l'Histoire sont géolocalisables. Cette application
        réunit l'histoire et la géographie au cœur d'une interface intéractive
        et dynamique.
      </p>
      <p>
        En combinant le temps et l'espace, voir le déroulement de la Seconde Guerre mondiale, des Croisades,
        de la Guerre de Cent ans, ou même de la Guerre des Gaules, est une manière privilégiée
        d'approcher l'Histoire de France.
      </p>
    </div-->
    <div dojoType="dijit.layout.ContentPane" title="Fonctionnalités & technologies">
      <h2>Fonctionnalités</h2>
      <ul>
        <li>Barre de zoom améliorée</li>
        <li>Gestionnaire de couches amélioré</li>
        <li>Barre temporelle</li>
        <li>Animation automatique en fonction du temps</li>
        <li>Style dynamique des marqueurs sur ma couche vectorielle</li>
        <li>Bulle des propriétés</li>
        <li>Édition des propriétés</li>
        <li>Création de nouveaux points</li>
      </ul>
      <h2>Technologies</h2>
      <ul>
        <li>Application basée sur l'<a href="http://api.ign.fr/" target="_blank"><i>API Géoportail</i></a>, version 1.1</li>
        <li>Utilise la bibliothèque <a href="http://www.dojotoolkit.org/" target="_blank"><i>dojo</i></a></li>
        <li>Service <a href="http://fr.wikipedia.org/wiki/Web_Feature_Service" target="_blank"><i>WFS-T</i></a> local (<i>Web Feature Service - Transactional</i>)</li>
        <li>Service <a href="http://fr.wikipedia.org/wiki/Web_Map_Service" target="_blank"><i>WMS-T</i></a> de l'IGN (<i>Web Map Service - Tiled</i>)</li>
      </ul>
    </div>
    <!--div dojoType="dijit.layout.ContentPane" title="Utilisateurs ciblés">
      <p>
      </p>
    </div-->
  </div>
  <!--p class="copyright">
  Cette application est dérivée de la plate-forme
  <span>Cartapatate</span>.
</p>
<p>
  Version : ${version}
  </p-->
</div>
